
// Fonts

$main-font: 'Roboto', sans-serif;


// Colors

$black-color: #1F2E35;
$white-color: #fff;
$red-color: #EE4248;
$nav-link-color: rgba(31, 46, 53, 0.8);
$subtitle-color:#30444e;
$footer-about-color:#263238;
$dsi-background-color:#f6f6f6;

// Sizes

$max-width-container: 1173px;
