.technology .banner{
  position: relative;
  padding: 0;
  height: 600px;
  &-image{
    position: absolute;
    width: 100%;
    z-index: -1;
    img{
      width: 100%;
      height: 100%;
    }

    // &__one{
    //   position: absolute;
    //   max-width: 100%;
    //   z-index: -1;
    //   img{
    //     width: 100%;
    //     height: 100%;
    //   }
    // }
  }
  &-title{
    font-family: $main-font;
    font-weight: 400;
    font-size: 48px;
    line-height: 141%;
    text-align: center;
    color: #ffffff;
    &__red {
      font-family: $main-font;
    font-weight: 400;
    font-size: 48px;
    line-height: 141%;
    text-align: center;
    color: #ffffff;
  }
}
}