.product .banner{
  background-color: red;
  padding: 75px 0;
  &-box{
    background-color: $dsi-background-color;
    width: 100%;
    height: 290px;
    position: absolute;
    z-index: -1;
  }
&-row{
  display: flex;
  @include flex(center, center);
  text-align: center;
}
&-title{
  font-family: var(--font-family);
font-weight: 400;
font-size: 48px;
line-height: 134%;
text-align: center;
color: #fff;
max-width: 750px;
}
&-title__b{
  font-weight: 700;
}

}
.product{
  padding: unset;


  &-blok__row{
   display: flex;
   @include flex(center, space-between);
   padding: 80px 0;
   @include media(768){
    flex-direction: column-reverse;
  }
  }
  &-blok__line_img{
    position: absolute;
    top: 35px;
   }
  &-blok__img{
    @include media(980){
     max-width: 500px;
     min-width: 420px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-blok__title{
    max-width: 500px;
    position: relative;
   }
  &-blok__text{
    font-family: $main-font;
    font-size: 32px;
    font-weight: 500;
    color: #1f2e35;
    line-height: 134%;
    padding-bottom: 34px;
  }
  &-blok__subtitle{
    margin-bottom: 35px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #30444e;
  }
}