.services-blok{
 &__row{
  display: flex;
  margin-top: 120px;
  padding: 60px 0;

  @include flex(center, space-between);
  @include media(768){
    flex-direction:column-reverse;
  }
 }
 &__line_img{
  position: absolute;
  top: 40px;
 }
 &__img{

  @include media(850){
    max-width: 350px;
    @include flex(center, space-between);
    display: block;
  }
  @include media(768){
   max-width: 100%;
  }
 }
 &__text{
  font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
line-height: 134%;
color: #1f2e35;
margin-bottom: 34px;
 }
 &__title{
  max-width: 520px;
  position: relative;
 }
 &__subtitle{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  &_red{
    color: $red-color;
  }
 }
}