.footer{

  &-top{
    padding: 24px 0;
  }

   &-bottom{
    background-color: $red-color;
    padding: 20px 0;
    text-align: center;
   &__text{
    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    color: $white-color;
   }

   }

   &-row{
    @include flex(center,space-between);

    @include media(900){
      flex-wrap: wrap;
      row-gap: 20px;
    }

    @include media(768){
      flex-wrap: nowrap;
      flex-wrap: wrap;
      align-items: unset;
    }
   }

   &-about{

    max-width: 30%;
    font-family: $main-font;
    color: $footer-about-color;
    font-size: 18px;

     &__text{
      display: block;
      margin: 8px 0;
      font-weight: 500;
     }
     &__address{
      font-weight: 300;
      font-size: 18px;
      line-height: 149%;
     }
     @include media(900){
      max-width: 35%;
     }
     @include media(768){
      max-width: 100%;
     }
   }

   &-contact{
    &__title{
      font-family: $main-font;
      font-weight: 500;
      font-size: 24px;
      color: $footer-about-color;
    }
    &__nav{
      display: flex;
      flex-direction: column;
      font-family: $main-font;
      font-weight: 300;
      font-size: 18px;
      line-height: 149%;
      color: $footer-about-color;
    }
   }
   &-brends{
    @include flex(center,space-between);
    flex-wrap: wrap;
    max-width: 400px;

    @include media(1000){
      max-width: 100%;
      column-gap: 8px;
     }
   }
}